<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Goblin namer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="client.js" defer></script>
</head>

<body>
  <section class="section">
    <div class="container">

      <h1 class="title">Goblin Namer</h1>

      <div class="buttons" id="buttons">
        <button class="button is-primary" id="commenceButton">go</button>
        <button class="button is-info" id="aboutButton">about</button>
        <button class="button" name="settings" id="settingsButton">settings</button>
      </div>

      <table class="table" id="namesTable">
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Result
            </th>
          </tr>
        </thead>
        <tbody class="is-size-4">
          <tr>
            <td>
              girl
            </td>
            <td id="girlOutput">
              --
            </td>
          </tr>
          <tr>
            <td>
              boy
            </td>
            <td id="boyOutput">
              --
            </td>
          </tr>
          <tr>
            <td>
              alien
            </td>
            <td id="alienOutput">
              --
            </td>
          </tr>
        </tbody>
      </table>

      <div id="about">
        <button id="backButton" class="button is-link">Ok</button>
        <div class="box">
          <img src="https://cdn.glitch.com/178aa87a-a770-46fc-be61-8baa289cdca9%2Fstf69_goblin1.jpg?1511845587696">
          <p>
            This tool employs a team of mind-reading goblins to determine the best girl, boy, and alien names automatically. The goblins currently choose from list of all registered names from births in a given year in the United States with more than 5 occurances.
            Selection is weighted by actual popularity. Names come from <a href="https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data">data.gov</a>.
          </p>
        </div>
      </div>

      <div id="settings">
        <button id="closeSettingsButton" class="button is-link">ok</button>
        <div class="box">

          <!-- year -->
          <div class="field full">
            <label class="label">Year: <span id="yearOutput"></span></label>
            <div class="control">
              <input type="range" min="1880" max="2016" value="2016" class="slider" id="yearSlider">
            </div>
          </div>

          <!-- weighting factor -->
          <div class="field full">
            <label class="label">Weighting: <span id="weightingOutput"></span></label>
            <div class="control">
              <input type="range" min="0" max="100" value="10" class="slider" id="weightingSlider">
            </div>
          </div>

          <!-- most popular -->
          <div class="field full">
            <label class="label">Use most popular <span id="percentageOutput"></span>%</label>
            <div class="control">
              <input type="range" min="1" max="100" value="20" class="slider" id="percentageSlider">
            </div>
          </div>

          <!-- first letter -->
          <!-- <div class="field full">
            <label class="label">Begins with</label>
            <div class="control">
              <input type="text" value="" class="input" id="firstLettersInput">
            </div>
          </div> -->

        </div>
      </div>

      <div class="notification is-info" id="progress">
        <p>
          Mind-reading goblins are
        </p>
        <p id="progress-message">
          determining ideal names.
        </p>
        <progress id="progressBar" class="progress is-primary" value="0" max="100">75%</progress>
      </div>

      <footer>
        created with irreverance by James Smith in 2017.
      </footer>
    </div>
  </section>
</body>

</html>
