<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Goblin namer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="client.js" defer></script>
</head>

<body>
  <section class="section">
    <div class="container">

      <h1 class="title">Goblin Namer</h1>

      <div class="buttons" id="buttons">
        <button class="button is-primary" id="commenceButton">commence</button>
        <button class="button is-info" id="aboutButton">about</button>
      </div>

      <table class="table" id="namesTable">
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Result
            </th>
          </tr>
        </thead>
        <tbody class="is-size-4">
          <tr>
            <td>
              girl
            </td>
            <td id="girlOutput">
              --
            </td>
          </tr>
          <tr>
            <td>
              boy
            </td>
            <td id="boyOutput">
              --
            </td>
          </tr>
          <tr>
            <td>
              alien
            </td>
            <td id="alienOutput">
              --
            </td>
          </tr>
        </tbody>
      </table>

      <div id="about">
        <button id="backButton" class="button is-link">Ok</button>
        <div class="box goblins">
          <img src="https://cdn.glitch.com/178aa87a-a770-46fc-be61-8baa289cdca9%2Fstf69_goblin1.jpg?1511845587696">
          <p>
            This tool employs a team of mind-reading goblins to determine the best girl, boy, and alien names automatically. The goblins currently choose from list of all registered names from births in a given year in the United States with more than 5 occurances.
            Selection is weighted by actual popularity. Names come from <a href="https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data">data.gov</a>.
          </p>
        </div>
      </div>

      <div class="notification is-info" id="progress">
        <p>
          Mind-reading goblins are
        </p>
        <p id="progress-message">
          determining ideal names.
        </p>
        <progress id="progressBar" class="progress is-primary" value="0" max="100">75%</progress>
      </div>

      <footer>
        created with irreverance by James Smith in 2017.
      </footer>
    </div>
  </section>
</body>

</html>
