.notification {
  display: none;
}
#about {
  display: none;
}
#settings {
  display: none;
}
.box {
  margin-top: 1em;
  max-width: 400px;
}
footer {
  padding-top: 1em;
  font-size: 0.8em;
  color: #666;
}
.full {
  width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(171, 100%, 41%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(171, 100%, 41%);
    cursor: pointer;
}
